<%- include('./__partial__files/header.ejs') %>

    <%- include('./__partial__files/nav.ejs') %>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="blue-text darken-1">About Us</h1>
                    <typography class="flow-text">
                        Thank you for your interest in our company.
                    </typography>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3 class="blue-text darken-1">Who we are!</h3>
                    <p>
                        <%= companyName %>  is a group of traders that decide to provide free platform to anyone trying to learn how to trade.
                        We'll be posting fx chart but
                        not limited to fx chart only. Members of the group can post any market chart of their choice and we will analyze it and
                        repost it here for learning purposes.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h3 class="blue-text darken-1">Our Mission</h3>
                    <typography class="flow-text">At <%= companyName %>, our mission is to give as many people who are willing to learn trading the opportunity to be able to do so without having to brake their bank just for training expenses alone.</typography>
                </div>
                <div class="col s12 m6">
                    <h3 class="blue-text darken-1">Trading Books</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quis deleniti, at nisi provident libero harum
                        quisquam alias dicta recusandae error fuga fugit, blanditiis, unde adipisci consequuntur tempora nostrum
                        atque.</p>
                </div>
                <div class="col s12 m6">
                    <h3 class="blue-text darken-1">Candlesticks Books</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quis deleniti, at nisi provident libero harum
                        quisquam alias dicta recusandae error fuga fugit, blanditiis, unde adipisci consequuntur tempora nostrum
                        atque.
                    </p>
                </div>
            </div>

        </div>


        <%- include('./__partial__files/footer.ejs') %>