<%- include('./__partial__files/header.ejs') %> 

    <%- include('./__partial__files/nav.ejs') %> 
    <div class="showCase hide-on-med-and-down">
        <div class="showCaseDisplay">
            <h1><%= companyName %> </h1>
            <typography class="flow-text">
                The site built with traders in mind.
            </typography>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">

                <h2 class="blue-text darken-1">
                    The Best Gift
                </h2>
                <p>
                    Learning how to trade is the best gift anyone can give to oneself.
                </p>
                
            </div>
            
            <div class="col s12 m7" style="padding-right: 30px;">
                <h4 class="blue-text darken-1">Trading Fundamentals</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque sit alias vero temporibus veritatis, corrupti modi. Minus, delectus facere. Quo itaque nemo amet vitae quibusdam, recusandae excepturi atque fugiat rem explicabo quam quae reprehenderit maiores? Aut aspernatur voluptatem inventore exercitationem dolore doloremque, iusto illum modi.
                </p>
            </div>
            <div class="col s12 m5" >
                <h4 class="blue-text darken-1">Path To Candlesticks Mastering.</h4>
                
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="fas fa-chart-bar"></i>First, Learn Charting</div>
                        <div class="collapsible-body"><span>The first step in becoming a master in trading with candlesticks is to understand charting and it's built in components. i.e:
                            <ul>
                                <li>Indigators</li>
                                <li>Marking Tools</li>
                                <li>Measurment Tools</li>
                            </ul>
                        </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fas fa-chart-line"></i>Second, Learn Signals</div>
                        <div class="collapsible-body"><span>This Step is the most important step and on going. There are so many candlestick Signals but there are few of them you need to master to becoming a successful trader.  </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fas fa-file-invoice-dollar"></i>Third, Grow Your Account</div>
                        <div class="collapsible-body"><span>Grow your account. Trade with focus and good risk management in place.   </span></div>
                    </li>
                </ul>
            </div>
        </div> 

        <div class="showCase2  hide-on-med-and-down">
            
        </div>


        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h4 class="blue-text darken-1">Why Become A Member Of <%= companyName %> ?</h4>
                    <typography class="flow-text">
                        Below is a diagram of candlestick Signal, among the many free trade calls to enable your learning fun and profitable.
                    </typography>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/piercingline.png" alt="
                Candlesticks image" height="600" width="16">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Piercingline Signal<i
                        class="material-icons right">more_vert</i></span>
                <p><a href="/register">Register Now</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Piercingline Signal<i class="material-icons right">close</i></span>
                <p style="padding-top: 15px;">This is a pic of what is inside the members area. Piercingline signal is a powerful Candlestick Signal among the many out there, you should master Piercingline and you will find so much trades than you can handle.</p> 
            </div>
        </div>

        
       
    </div>
    

<%- include('./__partial__files/footer.ejs') %> 